@font-face {
    font-family: LDF;
    src: url(ldf.ttf);
}

html{
    background-color: black;
    overflow: hidden;
    font-family: LDF;
}
img{
    position: absolute;
    display: block;
    left:50%;
    width: 809px;
    transform: translate(-50%);
}

h1{
    position: absolute;
    left:50%;
    top:105px;
    transform: translate(-50%);
    color:white;
    text-wrap: nowrap;
}

#games{
    position: absolute;
    width:500px;
    height: 500px;
    top:250px;
    left:50%;
    transform: translate(-50%);
    font-size: 35px;
    text-align: center;
}

a{
    color:white;
    text-wrap: nowrap;
    line-height: 75px;
}